.assignedContactContent {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.assignedContactContent.active{
  background-color: #2a3647;
  color: white;
}

.assignedContactContent.active:hover{
  background-color: #2a3647;
  color: white;
}

.assignedContactContent:hover {
  background-color: #eeeeee;
}

.selectedContactsContainer {
  display: flex;
  padding: 5px;
  gap: 1px;
}

#categoryList {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  max-height: 165px;
  overflow: auto;
  position: absolute;
  top: 102%;
  width: 100%;
  margin-left: -20px;
}

.categoryTechnicalTask {
  font-size: 20px;
  padding: 10px 22px 10px 22px;
  cursor: pointer;
}

.categoryUserStory {
  font-size: 20px;
  padding: 10px 22px 10px 22px;
  cursor: pointer;
}

.categoryTechnicalTask:hover,
.categoryUserStory:hover {
  background-color: #eeeeee;
}

@media screen and (min-width: 1340px) {
  .prioBtn {
    width: 100%;
    gap: 15px;
  }
}

@media screen and (max-width: 1220px) {
  .formParts {
    flex-direction: column;
    align-items: center;
  }

  .formPartRight {
    width: 100%;
  }

  .formPartLeft {
    width: 100%;
  }

  hr {
    display: none;
  }

  .taskFormButtons {
    padding: 40px 0 40px 0;
  }
}

@media screen and (max-width: 992px) {
  .addTaskContent {
    padding: 140px 114px 96px 200px;
  }

  .headlineDiv {
    display: flex;
    justify-content: center;
  }

  .addTaskContent {
    padding: 96px 0 96px 0;
    width: 90vw;
    margin: 0 auto;
  }
}

@media screen and (max-width: 760px) {
  .formParts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 610px) {
  .formPartLeft {
    width: 100%;
  }

  .formPartRight {
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  .taskFormButtons {
    flex-direction: column-reverse;
    align-items: center;
    text-wrap: nowrap;
    gap: 10px;
  }
}

@media screen and (max-width: 469px) {
  .formPartLeft,
  .formPartRight {
    width: 100%;
  }

  .categoryUserStory,
  .categoryTechnicalTask,
  .assignedContacts span {
    font-size: 14px;
  }

  .assignedShortcutName {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 380px) {
  .btnSection {
    flex-direction: column-reverse;
    align-items: center;
  }

  .prioBtn {
    font-size: 14px;
  }

  .prioContent {
    gap: 6px;
    font-size: 14px;
  }

  .assignedContainer,
  .categoryContainer {
    font-size: 16px;
  }
}
