.board {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  margin-left: 235px;
  padding-left: 50px;
  padding-top: 96px;
  background-color: #f6f7f8;
}

.boardHeader {
  flex-wrap: wrap;
  width: 1200px;
  height: 232px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 40px;
}

.board-title {
  width: 176px;
  height: 73px;
  font-size: 61px;
  font-weight: 700;
  line-height: 73px;
}

.boardHeaderRight {
  display: flex;
  justify-content: end;
  width: 504px;
  height: 48px;
  gap: 32px;
  font-size: 92px;
}

.searchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 48px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #a8a8a8;
}

.search {
  width: 280px;
  height: 32px;
  padding: 8px;
  border: none !important;
  outline: none !important;
}

.searchIcon {
  padding: 16px;
  cursor: pointer;
}

.search-dividing-line {
  width: 1px;
  height: 31px;
  background-color: #d1d1d1;
}

.addTaskBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #2a3647;
  width: 160px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  gap: 8px;
  cursor: pointer;
}

.addTaskMobileBtn {
  display: none;
}

.addTaskBtnText {
  width: 92px;
  height: 24px;
  font-size: 19px;
  font-weight: 700;
  line-height: 25px;
}

.column-titles {
  flex-wrap: wrap;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0px 40px 0px 40px;
}

.column-titles-plusBtn {
  display: flex;
  justify-content: space-between;
  width: 244px;
  height: 24px;
  margin-bottom: 16px;
}

.column-titles-h2 {
  display: flex;
  justify-content: space-between;
  width: 244px;
  height: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.columns {
  display: flex;
  width: fill 246px;
  height: fill 688px;
  gap: 24px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 246px;
  height: 688px;
  gap: 24px;
}

.empty-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 246px;
  height: 48px;
  border-radius: 10px;
  border: 1px;
  gap: 10px;
  background-color: #e7e7e7;
  border: 1px solid #a8a8a8;
  border-style: dashed;
}

.task {
  width: fill 220px;
  height: 212px;
  gap: 24px;
  background-color: white;
}

.task-card-category-div {
  display: flex;
  height: 27px;
  padding-top: 4px;
  padding-bottom: 4px;
  gap: 10px;
}

.task-card-category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 27px;
  color: white;
  border-radius: 8px;
}

.task-card-category-h2 {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  text-align: left;
}

.column-todo {
  width: 252px;
  height: 688px;
  gap: 16px;
  opacity: 0px;
}

.add-column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 2px solid #2a3647;
  cursor: pointer;
}

.task-container {
  display: flex;
  flex-flow: wrap;
  width: 1200px;
  height: 688px;
  margin-top: 16px;
  top: 336px;
  left: 232px;
  gap: 24px;
  padding-right: 40px;
  padding-left: 40px;
}

.column-container {
  width: 246px;
  height: 688px;
  gap: 24px;
}

.task-card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  gap: 16px;
}

.taskColumn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  gap: 16px;
}

.task-card-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  cursor: pointer;
}

.task-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 252px;
  /* height: 220px; */
  border-radius: 24px;
  padding: 16px;
  gap: 10px;
  background-color: white;
  cursor: pointer;
}

.task-card:hover {
  transform: rotate(5deg);
  transition: transform 0.5s;
}

.drag-area-highlight {
  background-color: rgba(192, 189, 189, 0.2);
}

.task-card-title {
  color: white;
  width: 113px;
  height: 27px;
  border-radius: 8px;
  gap: 10px;
  padding-top: 4px;
  padding-right: 16px;
  padding-bottom: 4px;
  padding-left: 16px;
  background-color: #0038ff;
}

.task-title {
  width: 220px;
  height: 38px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  padding-top: 16px;
}

/*----- new progressbar -----*/
.progress-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 220px;
  height: 16px;
}

.step {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 24px;
}

.step label {
  font-size: 16px;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  width: 128px;
  height: 8px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  width: 64px;
  height: 8px;
  border-radius: 16px;
  background-color: #4599ff;
  transition: width 0.3s ease-in-out;
}

.subtasks-div {
  display: flex;
  align-items: center;
  height: 14px;
  left: 139px;
}

.subtasks-amount {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  letter-spacing: 0%;
}

/*-------end----------*/
.tasks-user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  gap: 10px;
  padding: 5px;
}

/*
.tasks-user1 {
  background-color: #0038ff;
}

.tasks-user2 {
  background-color: #46da84;
}

.tasks-user3 {
  background-color: #9b7d2d;
}*/

.task-users {
  display: flex;
  align-items: center;
  gap: 2px;
  color: white;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

/*----- zum Testen -----*/

.addNewTaskDiv {
  display: flex;
  width: 800px;
  height: 600px;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d6d0d0;
}

.addNewTaskDivContentLeft {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 440px;
  height: 416px;
  padding: 20px;
}

/* #assignedContactsListPopUp {
  flex-direction: column;
  gap: 8px;
  border-radius: 10px;
  background-color: white;
  max-height: 165px;
  overflow: auto;
  position: absolute;
  top: 565px;
  width: inherit;
} */

/*----- taskEdit -----*/
/* .taskCardEditPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  height: 600px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
} */

.task-edit-close-popup {
  width: 10px;
  /* display: flex;
  justify-content: flex-end; */
  cursor: pointer;
}

.task-edit-close-popup::-webkit-scrollbar {
  width: 5px;
}

.task-edit-close-popup-div {
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  width: 102%;
}

.task-edit-input-popup {
  height: 48px;
  border: 1px solid #d1d1d1;
  line-height: 24px;
  padding-left: 20px;
  border-radius: 10px;
}

.task-edit-prio-popup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/* .subTask {
  width: 90%;
} */

.prioEditBtn {
  width: 136px;
  height: 56px;
  border-radius: 10px;
  background: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.button-ok-div {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
  background-color: white;
  z-index: 2;
  width: 102%;
}

.button-ok {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #2a3647;
  height: 48px;
  border-radius: 10px;
  border: none;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  gap: 8px;
  cursor: pointer;
}

.button-ok:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.searchMobileDiv {
  display: none;
}

.addTaskMobileBtn2 {
  display: none;
}

/* ----- Media Query -----*/

@media screen and (max-width: 1160px) {
  .addTaskBtn {
    display: none;
  }

  .addTaskMobileBtn {
    display: flex;
  }
}

@media screen and (max-width: 1080px) {
  .boardHeaderRight {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 992px) {
  .board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 980px) {
  .board {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    padding-top: 96px;
    background-color: #f6f7f8;
  }

  .boardHeader {
    align-items: flex-start;
  }
}

@media screen and (max-width: 655px) {
  .board {
    flex-wrap: wrap;
    padding-top: 96px;
    background-color: #f6f7f8;
  }

  .searchDiv {
    display: none;
  }

  .addTaskMobileBtn {
    display: none;
  }

  .addTaskMobileBtn2 {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 10px;

    border: none;
    cursor: pointer;
  }

  .board-title-plusbtn {
    width: 396px;
    display: flex;
    justify-content: space-between;
  }

  .searchMobileDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 396px;
    height: 48px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #a8a8a8;
  }

  .board-title {
    width: 136px;
    height: 56px;
    font-family: Inter;
    font-weight: 700;
    font-size: 47px;
    line-height: 120%;
    letter-spacing: 0%;

  }

  .column-titles-plusBtn {
    width: 396px;
    height: 32px;
    gap: 16px;
  }

  .empty-column {
    width: 392px;
    height: 48px;
    gap: 10px;
    border-radius: 10px;
    border-width: 1px;

  }

  .columns {
    display: flex;
    width: 688px;
    height: 246px;

  }

  .column {
    display: flex;
    width: 688px;
    height: 246px;
  }

  .task-card {
    display: flex;
  }

  .column-container {
    height: 246px;
    margin-bottom: 24px;
  }

  .column-titles-h2 {
    width: 73;
    height: 32;
    font-family: Inter;
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
    letter-spacing: 0%;
  }
}