.shadow-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000060;
  z-index: 4;
}

.add-edit-popup-contact-div {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1100px;
  height: 600px;
  border-radius: 30px;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.popup-left {
  display: flex;
  flex-direction: column;
  background-color: #2a3647;
  border-radius: 30px 0px 0px 30px;
  padding: 44px;
  gap: 15px;
  width: 45%;
  color: white;
  justify-content: center;
}

.popup-left img {
  width: 55.6px;
  height: 66.48px;
}

.popup-left span {
  font-size: 24px;
}

.popup-left hr {
  border: 1px solid #29abe2;
  width: 23%;
}

.popup-right {
  display: flex;
  background-color: white;
  border-radius: 0px 30px 30px 0px;
  padding: 44px;
  gap: 15px;
  width: 65%;
  color: white;
  align-items: center;
}

.popup-close-img {
  position: absolute;
  top: 44px;
  right: 44px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 118%;
  margin-top: 50px;
}

::placeholder {
  color: #d1d1d1;
  font-size: 20px;
  font-weight: 400;
}

input {
  cursor: pointer;
}

input:focus {
  outline: none !important;
  border: 1px solid #29abe2;
}

.popup-buttons {
  display: flex;
  gap: 16px;
  padding-top: 35px;
}

.cancel-button {
  background: white;
  border-radius: 10px;
  border-style: none;
  color: #2a3647;
  border: 1px solid #2a3647;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.cancel-button:hover {
  border: 1px solid #29abe2;
  background-color: white;
  color: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.cancel-button img {
  transition: filter 0.3s ease;
}

.cancel-button:hover img {
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.create-button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px 16px;
  gap: 10px;
  border-style: none;
  color: white;
  background-color: #2a3647;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  height: 45px;
}

.create-button:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.succesfull-popup {
  display: flex;
  position: absolute;
  top: 50%;
  left: 30%;
  background-color: #2a3647;
  height: 74px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  color: white;
  font-size: 21px;
  width: 326px;
}

.mobile-add-edit-popup-contact-div {
  display: flex;
  position: fixed;
  flex-direction: column;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 13;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 60%;
  height: 78%;
  padding: 20px;
  background: linear-gradient(180deg, #2a3647 45%, white 40%);
}

.mobile-popup-close-img {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.mobile-popup-above {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  color: white;
  gap: 10px;
}

.mobile-popup-above h1 {
  font-size: 47px;
}

.mobile-popup-above span {
  font-size: 20px;
}

.mobile-popup-above hr {
  border: 1px solid #29abe2;
  width: 23%;
}

.mobile-popup-below {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}
.mobile-edit-popup-below {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
  color: white;
}

.mobile-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px !important;
  width: 100%;
}

.mobile-name {
  width: 100% !important;
  height: 41px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 13px 21px;
  font-size: 20px;
  box-sizing: border-box;
  padding-right: 30px;
  background: url(/assets/icons/person.png) no-repeat right 21px center;
  background-size: 20px 20px;
}

.mobile-email {
  width: 100% !important;
  height: 41px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 13px 21px;
  font-size: 20px;
  box-sizing: border-box;
  padding-right: 30px;
  background: url(/assets/icons/mail.png) no-repeat right 21px center;
  background-size: 20px 20px;
}

.mobile-phone {
  width: 100% !important;
  height: 41px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 13px 21px;
  font-size: 20px;
  box-sizing: border-box;
  padding-right: 30px;
  background: url(/assets/icons/call.png) no-repeat right 21px center;
  background-size: 20px 20px;
}

.mobile-popup-button {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  gap: 20px;
}

#mobileToggleOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 116px;
  position: absolute;
  z-index: 4;
  right: 25px;
  bottom: 121px;
  border-radius: 20px 20px 0px 20px;
  background: white;
  padding: 15px;
  gap: 10px;
  box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
}

.popup-right-profile {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-size: 65px;
  justify-content: center;
  border: 2px solid #ffffff;
}

@media screen and (max-width: 1140px) {
  .add-edit-popup-contact-div {
    width: 900px;
  }

  form {
    width: 100%;
  }

  .popup-left {
    padding: 20px;
  }

  .popup-left h1 {
    font-size: 47px;
  }

  .popup-left img {
    width: 50.6px;
    height: 61.48px;
  }

  .popup-right {
    padding: 20px;
  }

  .nameError,
  .emailError,
  .phoneError {
    font-size: 12px;
  }
}

@media screen and (max-width: 940px) {
  .add-edit-popup-contact-div {
    width: 700px;
    height: 500px;
  }

  .popup-left h1 {
    font-size: 40px;
  }

  .popup-left img {
    width: 45.6px;
    height: 56.48px;
  }

  .popup-right {
    padding: 10px;
    gap: 5px;
  }

  .popup-right-profile {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    font-size: 65px;
    justify-content: center;
  }
  .nameError,
  .emailError,
  .phoneError {
    font-size: 10px;
  }
}

@media screen and (max-width: 570px) {
  .mobile-add-edit-popup-contact-div {
    padding: 13px;
    width: 75%;
  }

  .mobile-popup-above h1 {
    font-size: 40px;
  }

  .mobile-popup-above span {
    font-size: 16px;
  }

  .mobile-popup-below {
    padding-top: 51px;
  }

  .mobile-edit-popup-below {
    padding-top: 80px;
  }
}

@media screen and (max-width: 530px) {
  #mobileToggleOptions {
    right: 16px;
  }
}

@media screen and (max-width: 470px) {
  .mobile-add-edit-popup-contact-div {
    width: 90%;
  }
}

@media screen and (max-height: 667px) {
  .mobile-add-edit-popup-contact-div {
    width: 90%;
    zoom: 70%;
  }

  .mobileContactContainer {
    height: 100%;
    width: 100%;
    zoom: 89%;
  }

  .close-mobile-contact-area {
    top: 17%;
  }
}

.text-custom {
  color: #ef4444;
  display: block;
  font-size: 0.875rem;
}

.error {
  border: 2px solid red;
}
