.main-content {
  padding: 206px 114px 96px 330px;
  text-align-last: left;
  line-height: 35px;
}

h1 {
  padding-bottom: 20px;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  padding-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .main-content {
    padding: 196px 20px 120px 20px;
  }
}

@media screen and (max-width: 380px) {
  .main-content {
    zoom: 86%;
  }
}
