body {
  background-color: #f6f7f8;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.animationBg {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: #f6f7f8;
  animation: fadeOut 1.75s forwards, changeZIndex 0s 1.5s forwards;
}

.animationLogo {
  background-image: url(/assets/img/logodunkel.png);
  height: 335px;
  width: 274px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveLogo 1.5s forwards;
}

@keyframes fadeOut {
  0% {
    background-color: #f6f7f8;
    opacity: 1;
  }

  50% {
    background-color: #f6f7f8;
    opacity: 1;
  }

  100% {
    background-color: transparent;
    opacity: 0;
  }
}

@keyframes changeZIndex {
  0% {
    z-index: 1;
  }

  100% {
    z-index: -1;
  }
}

@keyframes moveLogo {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 274px;
    height: 335px;
  }

  50% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 274px;
    height: 335px;
  }

  100% {
    top: 32px;
    left: 32px;
    transform: translate(0, 0);
    width: 100px;
    height: 100px;
  }
}

.signUpContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 28px 63px 0px 0px;
  position: fixed;
}

.signUpButtonContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 35px;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px 16px;
  gap: 10px;
  border-style: none;
  color: white;
  background-color: #2a3647;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  height: 45px;
}

.button:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.logInContainer {
  display: flex;
  width: 100%;
  max-width: 640px;
  height: auto;
  padding: 48px 0;
  gap: 32px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 14px 3px #0000000a;
  margin: 150px auto;
  flex-direction: column;
  align-items: center;
}

.logInContainer h1 {
  margin-bottom: -20px;
}

hr {
  border: 2px solid #29abe2;
  width: 150px;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputLogIn {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  box-sizing: border-box;
}

.email,
#loginEmail {
  padding-right: 30px;
  background: url(/assets/icons/mail.png) no-repeat right 21px center;
  background-size: 20px 20px;
  background-color: white;
}

.email,
.password,
.name {
  width: 100% !important;
  max-width: 600px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 21px;
  font-size: 20px;
  box-sizing: border-box;
}

::placeholder {
  color: #d1d1d1;
  font-size: 20px;
  font-weight: 400;
}

input {
  cursor: pointer;
}

input:focus {
  outline: none !important;
  border: 1px solid #29abe2;
}

.inputPassword {
  position: relative;
  display: flex;
  align-items: center;
}

#loginPassword {
  padding-right: 30px;
  background-size: 20px 20px;
}

.passwordLoginIcon {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.loginError {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 16px;
  margin: -15px;
}

.checkboxLogin {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 35px;
}

.buttonLogin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  padding-top: 10px;
}

.guestButton {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px 16px;
  gap: 10px;
  border: 1px solid #2a3647;
  color: #2a3647;
  background-color: white;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  height: 45px;
}

.guestButton:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.footerContent {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 65px;
  width: 265px;
}

.footerContent a {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  padding: 0px 10px !important;
  text-decoration: none !important;
  color: #a8a8a8;
}

.footerContent a:hover {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
  color: #29abe2;
}

@media screen and (max-width: 680px) {
  .logInContainer {
    width: 85%;
    z-index: 2;
  }

  .signUpContainer {
    padding: 640px 0px 0px 0px;
    justify-content: center;
    z-index: 1;
  }

  .animationBg {
    position: fixed;
    inset: 0;
    z-index: 3;
    background-color: #2a3647;
    animation: fadeBackground 1.5s forwards;
  }

  .animationLogo {
    background-image: url(/assets/img/logodunkel.png);
    height: 335px;
    width: 274px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveLogoSmall 1.5s forwards;
  }

  @keyframes moveLogoSmall {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 274px;
      height: 335px;
      background-image: url('/assets/img/logohell.png');
    }

    50% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 274px;
      height: 335px;
      background-image: url('/assets/img/logohell.png');
    }

    100% {
      top: 16px;
      left: 16px;
      transform: translate(0, 0);
      width: 100px;
      height: 100px;
      background-image: url('/assets/img/logodunkel.png');
    }
  }

  @keyframes fadeBackground {
    0% {
      background-color: #2a3647;
      opacity: 1;
    }

    50% {
      background-color: #2a3647;
      opacity: 1;
    }

    100% {
      background-color: transparent;
      opacity: 0;
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 430px) {
  .buttonLogin {
    flex-direction: column;
    padding: 0px 40px 0px 40px;
    gap: 18px;
  }

  h1 {
    font-size: 50px;
  }

  hr {
    border: 1px solid #29abe2;
    width: 110px;
  }

  .button,
  .guestButton {
    justify-content: center;
    font-size: 16px;
  }

  .email,
  .password,
  .name {
    padding: 8px 16px;
    font-size: 12px;
  }
}

@media screen and (max-height: 667px) {
  .signUpContainer {
    padding: 513px 0px 0px 0px;
  }

  .logInContainer {
    zoom: 74%;
  }
}
