body {
  background-color: #f6f7f8;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  position: absolute;
  top: 32px;
  left: 32px;
}

.headerLogo img {
  width: 82px;
  height: 100px;
}

.signUpContainer {
  display: flex;
  width: 100%;
  max-width: 652px;
  height: auto;
  padding: 48px 0;
  gap: 32px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 14px 3px #0000000a;
  margin: auto auto;
  flex-direction: column;
  align-items: center;
}

.signUpArrowLink {
  position: fixed;
  margin-right: 523px;
  margin-top: 17px;
}

.arrowSignUpImg {
  cursor: pointer;
}

.signUpContainer h1 {
  margin-bottom: -20px;
}

hr {
  border: 2px solid #29abe2;
  width: 150px;
}

.formSignUp {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signUpInput {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  box-sizing: border-box;
}

.email,
.password,
.name {
  width: 100% !important;
  max-width: 600px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 21px;
  font-size: 20px;
  box-sizing: border-box;
}

.email,
#loginEmail {
  padding-right: 30px;
  background: url(/assets/icons/mail.png) no-repeat right 21px center;
  background-size: 20px 20px;
  background-color: white;
}

.name {
  padding-right: 30px;
  background: url(/assets/icons/person.png) no-repeat right 21px center;
  background-size: 20px 20px;
}

input {
  cursor: pointer;
}

::placeholder {
  color: #d1d1d1;
  font-size: 20px;
  font-weight: 400;
}

input:focus {
  outline: none !important;
  border: 1px solid #29abe2;
}

.inputPassword {
  position: relative;
  display: flex;
  align-items: center;
}

.signUpEmailError,
.signUpPasswordError,
.signUpCheckboxError {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 12px;
  margin: -18px;
}

.passwordContainer {
  display: flex;
  position: relative;
  align-items: center;
}

.passwordSignupIcon,
.passwordSignupConfirmIcon {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.checkboxSignUp {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
}

.checkboxSignUp a {
  padding: 0;
  color: #29abe2;
}

.checkboxSignUp label {
  color: #a8a8a8;
}

.signUpButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  padding-top: 30px;
}

.button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px 16px;
  gap: 10px;
  border-style: none;
  color: white;
  background-color: #2a3647;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  height: 45px;
}

.button:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.footerContent {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 65px;
  width: 265px;
}

.footerContent a {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  padding: 0px 10px !important;
  text-decoration: none !important;
  color: #a8a8a8;
}

.footerContent a:hover {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
  color: #29abe2;
}

@media screen and (max-width: 680px) {
  .signUpContainer {
    width: 85%;
    padding: 15px 0;
  }

  .signUpArrowLink {
    margin-right: 423px;
  }
}

@media screen and (max-width: 600px) {
  .signUpArrowLink {
    margin-right: 350px;
  }

  h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 480px) {
  .signUpArrowLink {
    margin-right: 300px;
  }
}

@media screen and (max-width: 420px) {
  .signUpArrowLink {
    margin-right: 215px;
  }
  h1 {
    font-size: 40px;
  }
  .email,
  .password,
  .name {
    padding: 8px 16px;
    font-size: 12px;
  }

  hr {
    border: 1px solid #29abe2;
    width: 110px;
  }
}
