h1 {
  font-size: 61px;
  font-weight: 700;
}

h2 {
  font-size: 27px;
  font-weight: 500;
}

.headlineHr {
  height: 59px;
  border: 2px solid #29abe2;
  border-radius: 20px;
}
.summaryContainer {
  display: flex;
  flex-direction: column;
  padding: 206px 0px 0px 330px;
  width: 100%;
  background-color: #f6f7f8;
}

.summaryHeadline {
  display: flex;
  align-items: center;
  gap: 30px;
}

.mobileHeader {
  display: flex;
  align-items: center;
  gap: 30px;
}

.summaryOverview {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5%;
  align-items: center;
  padding: 50px 10px 0;
  width: 100%;
  max-width: 1920px;
}

.overviewContent {
  width: 60%;
}

.summaryMediumContent {
  display: flex;
  gap: 18px;
}

.mediumBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 168px;
  width: 50%;
  padding: 38px 19px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  background-color: white;
  transition: background-color 0.3s ease;
}

.mediumBox:hover {
  transform: scale(1.05);
  background-color: #2a3647;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.mediumBox:hover .mediumBoxImg {
  display: none;
}

.mediumBox:hover .mediumBoxImgHover {
  display: inline;
}

.mediumBoxImgHover {
  display: none;
}

.mediumBox:hover .boxInfo .amount,
.mediumBox:hover .boxInfo .title {
  color: white;
}

.mediumBox:hover png circle .boxInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.amount {
  display: flex;
  font-size: 64px;
  font-weight: 600;
  color: black;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 400;
  color: black;
}

.summarysLargeContent {
  display: flex;
  flex-direction: row;
  gap: 61px;
}

.largeBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  height: 168px;
  width: 100%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  background-color: white;
}

.largeBox:hover {
  transform: scale(1.05);
  background-color: #2a3647;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.largeBox:hover .boxInfo .amount,
.largeBox:hover .boxInfo .title,
.largeBox:hover .boxInfo #date,
.largeBox:hover .date #date,
.largeBox:hover .date span {
  color: white !important;
}

.urgent {
  display: flex;
  gap: 18px;
  align-items: center;
}

.largeBoxHr {
  border: 1px solid #d1d1d1;
  height: 64%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 26px;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;
  text-align: center;
}

#date {
  font-size: 21px;
  font-weight: 700;
  color: black;
}

.date span {
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.summarySmallContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 13px;
}

.smallBox {
  display: flex;
  justify-content: center;
  height: 168px;
  width: 33.33%;
  padding: 25px 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  background-color: white;
  transition: all 0.3s ease;
}

.smallBox:hover {
  transform: scale(1.05);
  background-color: #2a3647;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.smallBox:hover .boxInfo .amount,
.smallBox:hover .boxInfo .title {
  color: white;
}

.boxInfo {
  text-align: center;
}

.greetings {
  display: flex;
  width: 40%;
  flex-direction: column;
  gap: 15px;
}

.greetings span {
  font-size: clamp(2.25rem, 0.0257rem + 3.2353vw, 2.9375rem);
  font-weight: 500;
  color: #2a3647;
}

.greetings h2 {
  font-size: clamp(3rem, -0.2353rem + 4.7059vw, 4rem);
  font-weight: 700;
  color: #29abe2;
}


@media (max-width: 992px) {
  .summaryContainer {
    padding: 130px 40px 120px 40px;
  }

  .overviewContent {
    width: 100%;
  }

  .greetings {
    display: none;
  }

  #mobileGreetings {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
}

@media (max-width: 740px) {
  .summaryHeadline {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .mobileHeader {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 14px;
  }

  .headlineHr {
    border: 2px solid #29abe2;
    border-radius: 20px;
    width: 126px;
    height: 0px;
  }

  .summaryContainer {
    padding: 188px 40px 120px 40px;
    zoom: 80%;
  }
}

@media (max-width: 430px) {
  .summaryContainer {
    padding: 300px 40px 0px 40px;
    zoom: 60%;
  }
}
