body {
    margin: 0;
    background-color: #F6F7F8;
  }
  
  .d-none {
    display: none;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-login {
    width: 100px;
    height: 120px;
    padding-top: 40px;
    padding-left: 35px;
  }
  
  .help-icon {
    padding-right: 40px;
  }
  
  .login-nav {
    padding: 24px;
    margin-bottom: 40px;
  }
  
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    width: 652px;
    height: 449px;
    border-radius: 30px;
    background-color: white;
  }
  
  .input-Login {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .button-dark {
    gap: 8px;
    padding: 4px 16px;
    color: white;
    border-radius: 5px;
    background-color: #2A3647;
  }
  
  .button-light {
    gap: 8px;
    padding: 4px 16px;
    border-radius: 5px;
  }
  
  /*--------------summary----------------*/
  
  .header-summary {
    height: 96px;
    background-color: white;
  }
  
  .header-title {
    padding: 24px;
    padding-left: 250px;
  }
  
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2A3647;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }
  
  .sidenav a:hover {
    color: #797777;
  }
  
  .logo-sidenav {
    width: 100px;
    height: 120px;
  }
  
  .sidenav-item {
    display: flex;
    align-items: center;
  }
  
  .sidenav-footer {
    padding-bottom: 40px;
    color: #838282;
    font-size: larger;
    display: flex;
    align-items: center;
    flex-direction: column;
  }