<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/templates/sidebar/sidebar.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/css/fonts.css" />
    <title>Sidebar</title>
  </head>

  <body>
    <div class="sideBar">
      <img class="logo-sidenav" src="/assets/img/logohell.png" alt="" />
      <nav class="sideBarList">
        <a href=""
          ><img src="/assets/img/summary-icon.png" alt="" />
          <span>Summary</span>
        </a>
        <a href=""
          ><img src="/assets/img/addtask-icon.png" alt="" />
          <span>Add Task</span>
        </a>
        <a href=""
          ><img src="/assets/img/board-icon.png" alt="" />
          <span>Board</span>
        </a>
        <a href=""
          ><img src="/assets/img/contacts-icon.png" alt="" />
          <span>Contacts</span>
        </a>
      </nav>
      <div class="policyAndNotice">
        <a href=""><span>Privacy Policy</span></a>
        <a href=""><span>Legal notice</span></a>
      </div>
    </div>
  </body>
</html>
