<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/templates/sidebar/sidebar.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/css/fonts.css" />
    <title>Sidebar</title>
  </head>
  <body>
    <div class="sideBar">
      <img class="logo-sidenav" src="/assets/img/logohell.png" alt="" />
      <nav class="sideBarLogin">
        <a href="/index.html">
          <img src="/assets/icons/loginIcon.png" alt="" />
          <span>Log In</span>
        </a>
      </nav>
      <div class="policyAndNotice">
        <a href="/pages/data-protection-Nouser.html" data-page="data-protection"><span>Privacy Policy</span></a>
        <a href="/pages/legale-notice-Nouser.html" data-page="legale-notice"><span>Legal notice</span></a>
      </div>
    </div>
  </body>
</html>
