<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join</title>

    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header class="header-summary">
      <span class="header-title">Kanban Project Management Tool</span>
      <div>
        <img class="help-icon" src="/assets/img/help.png" alt="">
      </div>
    </header>

    <div class="sidenav">
      <img class="logo-sidenav" src="/assets/img/logohell.png" alt="" />
      <div>
        <div class="sidenav-item">
          <img src="/assets/img/summary-icon.png" alt="">
          <a href="#">Summary</a>
        </div>
        <div class="sidenav-item">
          <img src="/assets/img/addtask-icon.png" alt="">
          <a href="#">Add Task</a>
        </div>
        <div class="sidenav-item">
          <img src="/assets/img/board-icon.png" alt="">
          <a href="#">Board</a>
        </div>
        <div class="sidenav-item">
          <img src="/assets/img/contacts-icon.png" alt="">
          <a href="#">Contacts</a>
        </div>
      </div>
      <div class="sidenav-footer">
        <span>Privacy Policy</span>
        <span>Legal notice</span>
      </div>
    </div>

  </body>
</html>
